spring:
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://localhost:3306/db_account?useSSL=false
        username: root
        password: 546359
        druid:
            aop-patterns: com.example.*   # 监视SpringBean
            filters: 'stat,wall'  # 底层开启功能,stat(sql监控) wall(防火墙监控)

            # 开启druid的监控页的配置
            stat-view-servlet:
                enabled: true
                login-username: admin
                login-password: 123456
                reset-enable: false  # 关闭重置按钮

            # 监控web
            web-stat-filter:
                enabled: true
                url-pattern: /*

                exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*'

# 这里配置mybatis的规则
mybatis:
    # 配置mybatis的全局配置文件
    # config-location: classpath:mybatis/mybatis-config.xml
    # 配置mybatis的映射文件
    mapper-locations: classpath:mybatis/mappers/*.xml
    # springboot中配置驼峰命名规则
    configuration:
        map-underscore-to-camel-case: true