<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <link th:include="common :: commonheader">

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:replace="common :: #headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">


                                <table class="display table table-bordered table-striped" id="dynamic-table">

                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>age</th>
                                        <th>email</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                                    <!--这行代码的意思是：从model中取出userList，每个对象起名为user-->
                                    <tr class="gradeX" th:each="user,stat:${page.records}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.age}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <!--这里的问题是如何获得待删除用户的id？
                                                thymeleaf里面有解决方案.
                                                使用这种写法就可以获得待删除用户的id了。{id}(id=${user.id})
                                                现在要做出的效果是在哪一页删除还跳到那一页，所以我们还要携带删除页面的pageNo，即当前页
                                                这里我们携带两个参数
                                            -->
                                            <a th:href="@{/user/delete/{id}(id=${user.id},pn=${page.current})}" class="btn btn-danger" type="button">delete</a>
                                        </td>
                                    </tr>
                                    </tbody>


                                    <tfoot>
                                    </tfoot>

                                </table>


                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">当前第 [[${page.current}]] 页，总计 [[${page.pages}]] 页，共 [[${page.total}]] 条记录
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <li class="prev disabled"><a href="#">← Previous</a></li>
                                                <!--<li class="active"><a href="#">1</a></li>-->
                                                <!--如果当前取出来的页码是当前页，那么就显示高亮,这里用了三元运算符-->
                                                <li th:class="${num == page.current}?'active':''" th:each="num:${#numbers.sequence(1,page.pages)}">
                                                    <!--thymeleaf 的 url携带参数使用(),不是使用?携带参数-->
                                                    <a th:href="@{/dynamic_table(pn=${num})}">[[${num}]]</a></li>
                                                <li class="next"><a href="#">Next → </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <footer>
        2020 &copy; AdminEx by ThemeBucket </a>
    </footer>
    <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div th:replace="common :: #commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->


</body>
</html>
